apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml

namespace: dev

images:
- name: testedocker
  newName: labacl/dev
  newTag: testedocker.8d31907
